<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lynzabo.testmybatis.dao.IUserDao" >
    <resultMap id="BaseResultMap" type="UserModel" >
        <id column="ID" property="id" jdbcType="BIGINT" />
        <result column="HCLUSTER_ID" property="hclusterId" jdbcType="BIGINT" />
        <result column="MCLUSTER_ID" property="mclusterId" jdbcType="BIGINT" />
        <result column="DB_ID" property="dbId" jdbcType="BIGINT" />
        <result column="TYPE" property="type" jdbcType="TINYINT" typeHandler="com.lynzabo.common.IntValueEnumTypeHandler"/>
        <result column="TITLE" property="title" jdbcType="VARCHAR" />
        <result column="SQLID" property="sqlid" jdbcType="BIGINT" />
        <result column="ASQL" property="asql" jdbcType="VARCHAR" />
        <result column="STATUS" property="status" jdbcType="TINYINT" typeHandler="com.lynzabo.common.IntValueEnumTypeHandler"/>
        <result column="TIME" property="time" jdbcType="DATE" />
        <result column="ERROR" property="error" jdbcType="VARCHAR" />
        <result column="DELETED" property="deleted" jdbcType="TINYINT" typeHandler="com.lynzabo.common.IntValueEnumTypeHandler"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="DATETIME" />
        <result column="UPDATE_TIME" property="updateTime" jdbcType="DATETIME" />
        <result column="CREATE_USER" property="createUser" jdbcType="BIGINT" />
        <result column="UPDATE_USER" property="updateUser" jdbcType="BIGINT" />
    </resultMap>
    <sql id="Base_Column_List" >
        md.ID,
        md.HCLUSTER_ID,
        md.MCLUSTER_ID,
        md.DB_ID,
        md.TYPE,
        md.TITLE,
        md.SQLID,
        md.ASQL,
        md.STATUS,
        md.TIME,
        md.ERROR,
        md.DELETED,
        md.CREATE_TIME,
        md.UPDATE_TIME,
        md.CREATE_USER,
        md.UPDATE_USER
    </sql>
    <sql id="Base_Where_Clause">
        where 1=1
        <trim suffixOverrides=",">
            <if test="id != null  ">
                and md.ID=#{id}
            </if>
            <if test="hclusterId != null  ">
                and md.HCLUSTER_ID=#{hclusterId}
            </if>
            <if test="mclusterId != null  ">
                and md.MCLUSTER_ID=#{mclusterId}
            </if>
            <if test="dbId != null  ">
                and md.DB_ID=#{dbId}
            </if>
            <if test="type != null">
                and md.TYPE=#{type,jdbcType=TINYINT,typeHandler=com.lynzabo.common.IntValueEnumTypeHandler}
            </if>
            <if test="title != null and title != ''  ">
                and md.TITLE=#{title}
            </if>
            <if test="sqlid != null  ">
                and md.SQLID=#{sqlid}
            </if>
            <if test="asql != null and asql != ''  ">
                and md.ASQL=#{asql}
            </if>
            <if test="status != null">
                and md.STATUS=#{status,jdbcType=TINYINT,typeHandler=com.lynzabo.common.IntValueEnumTypeHandler}
            </if>
            <if test="time != null  ">
                and md.TIME=#{time}
            </if>
            <if test="error != null and error != ''  ">
                and md.ERROR=#{error}
            </if>
            <if test="deleted != null">
                and md.DELETED=#{deleted,jdbcType=TINYINT,typeHandler=com.lynzabo.common.IntValueEnumTypeHandler}
            </if>
            <if test="createTime != null  ">
                and md.CREATE_TIME=#{createTime}
            </if>
            <if test="updateTime != null  ">
                and md.UPDATE_TIME=#{updateTime}
            </if>
            <if test="createUser != null  ">
                and md.CREATE_USER=#{createUser}
            </if>
            <if test="updateUser != null  ">
                and md.UPDATE_USER=#{updateUser}
            </if>
        </trim>
    </sql>
    <sql id="Page_Where_Clause">
        where 1=1
        <trim suffixOverrides=",">
            <if test="params != null and params.id != null  ">
                and md.ID=#{id}
            </if>
            <if test="params != null and params.hclusterId != null  ">
                and md.HCLUSTER_ID=#{hclusterId}
            </if>
            <if test="params != null and params.mclusterId != null  ">
                and md.MCLUSTER_ID=#{mclusterId}
            </if>
            <if test="params != null and params.dbId != null  ">
                and md.DB_ID=#{dbId}
            </if>
            <if test="params != null and params.type != null">
                and md.TYPE=#{type,jdbcType=TINYINT,typeHandler=com.lynzabo.common.IntValueEnumTypeHandler}
            </if>
            <if test="params != null and params.title != null and params.title != ''  ">
                and md.TITLE=#{title}
            </if>
            <if test="params != null and params.sqlid != null  ">
                and md.SQLID=#{sqlid}
            </if>
            <if test="params != null and params.asql != null and params.asql != ''  ">
                and md.ASQL=#{asql}
            </if>
            <if test="params != null and params.status != null">
                and md.STATUS=#{status,jdbcType=TINYINT,typeHandler=com.lynzabo.common.IntValueEnumTypeHandler}
            </if>
            <if test="params != null and params.time != null  ">
                and md.TIME=#{time}
            </if>
            <if test="params != null and params.error != null and params.error != ''  ">
                and md.ERROR=#{error}
            </if>
            <if test="params != null and params.deleted != null">
                and md.DELETED=#{deleted,jdbcType=TINYINT,typeHandler=com.lynzabo.common.IntValueEnumTypeHandler}
            </if>
            <if test="params != null and params.createTime != null  ">
                and md.CREATE_TIME=#{createTime}
            </if>
            <if test="params != null and params.updateTime != null  ">
                and md.UPDATE_TIME=#{updateTime}
            </if>
            <if test="params != null and params.createUser != null  ">
                and md.CREATE_USER=#{createUser}
            </if>
            <if test="params != null and params.updateUser != null  ">
                and md.UPDATE_USER=#{updateUser}
            </if>
        </trim>
    </sql>
    <!-- 列表总数 -->
    <select id="selectByMapCount" resultType="java.lang.Integer" parameterType="com.letv.common.dao.QueryParam">
        select
        count(1)
        from
        WEBPORTAL_DB_SQL md
        <include refid="Page_Where_Clause" />
    </select>
    <!-- 分页：根据条件查询 -->
    <select id="selectPageByMap" resultMap="BaseResultMap" parameterType="com.letv.common.dao.QueryParam">
        select
        <include refid="Base_Column_List" />
        from
        WEBPORTAL_DB_SQL md
        <include refid="Page_Where_Clause" />
        ORDER BY md.CREATE_TIME DESC
        <if test="page != null">
            limit #{page.startRowPosition},#{page.recordsPerPage}
        </if>
    </select>
    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select
        <include refid="Base_Column_List" />
        from
        WEBPORTAL_DB_SQL md
        where md.ID = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectByMap" resultMap="BaseResultMap" parameterType="java.util.Map" >
        select
        <include refid="Base_Column_List" />
        from
        WEBPORTAL_DB_SQL md
        <include refid="Base_Where_Clause" />
    </select>
    <select id="selectCountByMap" resultType="java.lang.Integer" parameterType="java.util.Map">
        select
        count(1)
        from
        WEBPORTAL_DB_SQL md
        <include refid="Base_Where_Clause" />
    </select>
    <delete id="delete" parameterType="UserModel" >
        delete from WEBPORTAL_DB_SQL md
        where md.ID = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="UserModel" useGeneratedKeys="true" keyProperty="id">
        insert into WEBPORTAL_DB_SQL
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                `ID`,
            </if>
            <if test="hclusterId != null">
                `HCLUSTER_ID`,
            </if>
            <if test="mclusterId != null">
                `MCLUSTER_ID`,
            </if>
            <if test="dbId != null">
                `DB_ID`,
            </if>
            <if test="type != null">
                `TYPE`,
            </if>
            <if test="title != null and title != ''">
                `TITLE`,
            </if>
            <if test="sqlid != null">
                `SQLID`,
            </if>
            <if test="asql != null and asql != ''">
                `ASQL`,
            </if>
            <if test="status != null">
                `STATUS`,
            </if>
            <if test="time != null  ">
                `TIME`,
            </if>
            <if test="error != null and error != ''">
                `ERROR`,
            </if>
            <if test="deleted != null">
                `DELETED`,
            </if>
            `CREATE_TIME`,
            `CREATE_USER`,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="hclusterId != null">
                #{hclusterId},
            </if>
            <if test="mclusterId != null">
                #{mclusterId},
            </if>
            <if test="dbId != null">
                #{dbId},
            </if>
            <if test="type != null">
                #{type},
            </if>
            <if test="title != null and title != ''">
                #{title},
            </if>
            <if test="sqlid != null">
                #{sqlid},
            </if>
            <if test="asql != null and asql != ''">
                #{asql},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="time != null  ">
                #{time},
            </if>
            <if test="error != null and error != ''">
                #{error},
            </if>
            <if test="deleted != null">
                #{deleted},
            </if>
            now(),
            #{createUser,jdbcType=BIGINT,typeHandler=com.lynzabo.common.UserTypeHandler},
        </trim>
    </insert>
    <insert id="insertBatch" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        insert into WEBPORTAL_DB_SQL
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                `ID`,
            </if>
            <if test="hclusterId != null">
                `HCLUSTER_ID`,
            </if>
            <if test="mclusterId != null">
                `MCLUSTER_ID`,
            </if>
            <if test="dbId != null">
                `DB_ID`,
            </if>
            <if test="type != null">
                `TYPE`,
            </if>
            <if test="title != null and title != ''">
                `TITLE`,
            </if>
            <if test="sqlid != null">
                `SQLID`,
            </if>
            <if test="asql != null and asql != ''">
                `ASQL`,
            </if>
            <if test="status != null">
                `STATUS`,
            </if>
            <if test="time != null  ">
                `TIME`,
            </if>
            <if test="error != null and error != ''">
                `ERROR`,
            </if>
            <if test="deleted != null">
                `DELETED`,
            </if>
            `CREATE_TIME`,
            `CREATE_USER`,
        </trim>
        values
        <foreach collection="list" item="item" index="index"
                 separator=",">
            <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">
                    #{id},
                </if>
                <if test="hclusterId != null">
                    #{hclusterId},
                </if>
                <if test="mclusterId != null">
                    #{mclusterId},
                </if>
                <if test="dbId != null">
                    #{dbId},
                </if>
                <if test="type != null">
                    #{type},
                </if>
                <if test="title != null and title != ''">
                    #{title},
                </if>
                <if test="sqlid != null">
                    #{sqlid},
                </if>
                <if test="asql != null and asql != ''">
                    #{asql},
                </if>
                <if test="status != null">
                    #{status},
                </if>
                <if test="time != null  ">
                    #{time},
                </if>
                <if test="error != null and error != ''">
                    #{error},
                </if>
                <if test="deleted != null">
                    #{deleted},
                </if>
                now(),
                #{createUser,jdbcType=BIGINT,typeHandler=com.lynzabo.common.UserTypeHandler},
            </trim>
        </foreach>
        <!-- 获取上个刚插入的自增ID值 -->
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
    </insert>

    <update id="update" parameterType="UserModel">
        update WEBPORTAL_DB_SQL md
        <trim prefix="set" suffixOverrides="," suffix="where md.ID = #{id,jdbcType=BIGINT}" >
            <if test="id != null">
                md.ID=#{id},
            </if>
            <if test="hclusterId != null">
                md.HCLUSTER_ID=#{hclusterId},
            </if>
            <if test="mclusterId != null">
                md.MCLUSTER_ID=#{mclusterId},
            </if>
            <if test="dbId != null">
                md.DB_ID=#{dbId},
            </if>
            <if test="type != null">
                md.TYPE=#{type,jdbcType=TINYINT,typeHandler=com.lynzabo.common.IntValueEnumTypeHandler},
            </if>
            <if test="title != null and title != ''">
                md.TITLE=#{title},
            </if>
            <if test="sqlid != null">
                md.SQLID=#{sqlid},
            </if>
            <if test="asql != null and asql != ''">
                md.ASQL=#{asql},
            </if>
            <if test="status != null">
                md.STATUS=#{status,jdbcType=TINYINT,typeHandler=com.lynzabo.common.IntValueEnumTypeHandler},
            </if>
            <if test="time != null  ">
                md.TIME=#{time},
            </if>
            <if test="error != null and error != ''">
                md.ERROR=#{error},
            </if>
            <if test="deleted != null">
                md.DELETED=#{deleted,jdbcType=TINYINT,typeHandler=com.lynzabo.common.IntValueEnumTypeHandler},
            </if>
            md.UPDATE_TIME=now(),
            md.UPDATE_USER=#{updateUser,jdbcType=BIGINT,typeHandler=com.lynzabo.common.UserTypeHandler},
        </trim>
        where md.ID=#{id}
    </update>
    <update id="updateBySelective" parameterType="UserModel">
        update WEBPORTAL_DB_SQL md
        <trim prefix="set" suffixOverrides="," suffix="where md.ID = #{id,jdbcType=BIGINT}" >
            <if test="id != null">
                md.ID=#{id},
            </if>
            <if test="hclusterId != null">
                md.HCLUSTER_ID=#{hclusterId},
            </if>
            <if test="mclusterId != null">
                md.MCLUSTER_ID=#{mclusterId},
            </if>
            <if test="dbId != null">
                md.DB_ID=#{dbId},
            </if>
            <if test="type != null">
                md.TYPE=#{type,jdbcType=TINYINT,typeHandler=com.lynzabo.common.IntValueEnumTypeHandler},
            </if>
            <if test="title != null and title != ''">
                md.TITLE=#{title},
            </if>
            <if test="sqlid != null">
                md.SQLID=#{sqlid},
            </if>
            <if test="asql != null and asql != ''">
                md.ASQL=#{asql},
            </if>
            <if test="status != null">
                md.STATUS=#{status,jdbcType=TINYINT,typeHandler=com.lynzabo.common.IntValueEnumTypeHandler},
            </if>
            <if test="time != null  ">
                md.TIME=#{time},
            </if>
            <if test="error != null and error != ''">
                md.ERROR=#{error},
            </if>
            <if test="deleted != null">
                md.DELETED=#{deleted,jdbcType=TINYINT,typeHandler=com.lynzabo.common.IntValueEnumTypeHandler},
            </if>
            md.UPDATE_TIME=now(),
            md.UPDATE_USER=#{updateUser,jdbcType=BIGINT,typeHandler=com.lynzabo.common.UserTypeHandler},
        </trim>
        where
        <include refid="Base_Where_Clause" />
    </update>
</mapper>